@import './BooksList.scss';
@import './BooksForm.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  background: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;

  .App {
    background: #f5f6fa;
    width: 87%;
    -webkit-box-shadow: 10px 10px 49px 0 rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 49px 0 rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 49px 0 rgba(0, 0, 0, 0.43);
    height: 96%;
  }
}
